.adv{
    width: 100%;
    height: 240px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row ;
    div{
        width: 320px;
        height: 240px;
        img{
            width: inherit;
            height: inherit;
            display: block;
            border-radius: 20px;
        }

    }
}