.favorite{
    width: 99.7%;
    height: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding:20px 20px 0 20px;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 20px;
    flex-flow: row wrap;
    position: relative;
   

    }
    /* align-items: stretch; */
    .favorite_top{
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      
      p{
        font-size: 1.6rem;
        font-family: var(--fontfamily)
        ;
        font-weight: 500;
        text-align: center;
        line-height: 1.6rem;
        margin-right: 8px;
      }
  

    }
    .favorite-center{
        width: 98%;
        /* height: inherit;این رو پاک کن الاین ایتم استرچ بده */
        height: 400px !important;
        display: flex;
        align-items: center;
        justify-content: center;

       
    
        .swiper {
            width: 100%;
            height: 100%;
            
          }
      
          .swiper-slide {
            border-radius: 15px;
            /* باید به دیو داخلی و پدر حتما باید بردر ردیوس بدهی وگرنه گوشه هارا نمی گیرد */
            text-align: center;
            
            background: #fff;
            display: flex;
            justify-content: space-around;
            align-items: center;
            column-gap: 10px !important;
            .fovorite-swiper-slide{
              height: 100%;
              width: 100%;
           
              .fovorite-swiper-slide-item{
                padding: 10px;
                display: flex;
                flex-flow:row nowrap;
                align-items: center;
                justify-content: center;
                column-gap: 7px;
                img{
                  width: 100px !important;
                  height: 100px !important ;
                }
               span{
                /* font-weight: bolder; */
                font-size: 32px;
                font-weight: 800;
                font-family: Number;
                color: aqua;

               }
               p{
                width: 200px;
                height: 60px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                font-family: var(--fontfamily);
                font-size: 1.2rem;
                opacity: 0.8;
                font-weight: 400;
                text-align: right;
                line-height: 25px;
                opacity: 0.8;
                /* padding-bottom: 20px;
                border-bottom: 1px solid rgb(218, 218, 218); */
               }
              }
            }
          }
        
        }
    
        