.story{
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: center;
   flex-flow: row wrap;
   position: relative;
   z-index: 0;
  .story__center{
    width: 90%;
    height: inherit;
  /* بکگراند */
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      .swiper-slide-inner{
        height: inherit;
        width: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        row-gap: 10px;
        img{
          width: 74px;
          height: 74px;
          border-radius: 50%;
          object-fit: cover;
          outline:2px solid rgb(173, 5, 173) ;
          outline-offset: 3px;
          /* اوت لاین و اوتلاین افست */

        }
        p{
          font-family: var(--fontfamily);
          font-size: 12px;
          text-align: center;
          width: 100%;
        }
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}