.daily{
    width: 100%;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: start;
    border-radius: 8px;
    margin: 10px auto;
    padding-left: 16px;
    padding-right: 16px;

    .daily_off{
        width: 100%;
        height: 360px;
        display: flex;
        justify-content: center;
        align-items:center;
        flex-flow: row wrap;
        border-radius: 8px;
        background-color: #E4123C ;
        background-image: url(./images/bdaily.svg);
        background-repeat: repeat-x;
        background-attachment: fixed;
        background-size: contain;
        background-position: 0%;
        padding-right: 16px;
       
      .daily_up{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items:center;
        padding-right: 15px;
        p{
          font-family: var(--fontfamily);
          font-size: 16px;
          font-weight: 500;
          color: #fff;
        }

      }
      .daily_center{
        width: 100%;
        height: 280px;
        .swiper {
            width: 100%;
            height: 100%;
          }
      
          .swiper-slide {
          
            font-size: 14px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: row wrap ;
            border-radius: 9px;
            .slide_inner{
              display: flex;
              justify-content: center;
              align-items: center;
              flex-flow: row wrap ;
              .up{
                display: flex;
                width: 100%;
             
                justify-content:start;
                align-items: start;
                height: 20px;
                padding-right: 15px;
                padding-top: 13px;
                
              }
              .center{

             display: flex;
             width: 100%;
             height: 240px;
             justify-content: space-between;
             align-items: center;
             padding-left: 15px;
             padding-right: 15px;


              .right{
                width: 200px;
                height: 240px;
                display: flex;
                justify-content: start;
                align-items: center;
                img{
                  width:200px ;
                  height: 200px;
                  display: block;
                }
              }
              .left{
                height: inherit;
                width: 100%;
                display: flex;
               flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                padding-top: 40px;
                p{
                  width: 100%;
                  font-family: var(--fontfamily);
                  font-size: 13px;
                  font-weight: 550;
                  line-height: 25px;
                  height:50px;
                  text-align: right;
                }
                .part{
                  display: flex;
                  justify-content: space-around;
                  align-items: center;
                  width: 100%;
                  height: 50px;
                  .color{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 50%;
                    height: inherit;
                    span{
                      background-color: rgb(35, 192, 82);
                      width: 17px;
                      height: 15px;
                      border-radius: 50%;

                    }
                    p{
                      font-family: var(--fontfamily);
                      font-size: 12px;
                      font-weight: 100;
                      margin-right: 5px;
                      line-height: 50px;
                      text-align: right;
                      align-items: center;
                    }
                  }
                  .star{
                    display: flex;
                  align-items: center;
                    justify-content:flex-end;
                    width: 50%;
                    height: inherit;
                    svg{
                      width: 26px;
                      height: 50px;
                      margin-right: 5px;
                    }
                 p{
                  font-family: Number;
                  font-size: 17px;
                  font-weight: 500;
                  line-height: 50px;
                  align-items: center;
                  text-align: left;
                  margin-left: 5px;


                 }
                  }

                }
                .discount{
                  display: flex;
                  justify-content: space-around;
                  width: 100%;
                  height: 40px;

                  /* flex-flow: row
                   nowrap; */
                   .off{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                width: 50%;
                height: 50px;

                    .darsad{
                      width: 30px;
                      height: 20px;
                      font-family: Number;
                      font-size: 14px;
                      line-height: 18px;
                      font-weight: 500;
                      align-items: center;
                      word-spacing: 5px !important;
                      text-align: center;
                      color: #ffffff;
                      background-color: #E4123C;
                 
                      border-radius: 10px;
                    }
                   
                   }
                   .new-price{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                   
                    width: 50%;
                    height: 50px;
                    p{
                      font-family:Number;
                      font-size: 17px;
                      font-weight: bold;
                      line-height: 50px;
                      text-align: left;

                    }
                  }
                }
                .price{
                  width: 100%;
                  display: flex;
                  justify-content: flex-end;
                  height: 20px;
                  align-items: center;
                  line-height: 20px;
                    font-family:Number ;
                    font-size: 16px;
                    text-decoration: line-through;
                    opacity: 0.6;
                  padding-left: 18px;
                  
                }
                .clock{
                  display: flex;
                  justify-content: flex-end;
                  width: 100%;
                  height:80px;
                  color: #EF3C51;
                  span{
                    padding-top: 20px;
                    color: #EF3C51;
                    font-family:  Number;
                    font-size: 18px;
                    font-weight: 600;
                    
                  }
                }
              }
              }
            }

          }
      
      

      }
    }

}