.underslider{
    width: 100%;
    height: 170px;
    padding-right: 10px;
    margin-top: 20px;

        .underslider_center{
            width: 100%;
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            .swiper {
                width: 100%;
                height: 100%;
              }
          
              .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                .first{
                    display: flex;
                    align-items: center;
                    flex-flow: row wrap;
                    justify-content: center;
                    height: inherit
                    ;
                    width: 120px;
                    background-color: #f1edf2;
                    border-radius: 7px;
                    img{
                        width: 80px;
                        height: 80px;

                    }
                    
                    p{
                        font-family: var(--fontfamily);
                        text-align: center;
                        font-size: 12px;
                        font-weight: 400;
                        margin-bottom: 50px;
                    }
        
                }
                .inner{
                    display: flex;
                    align-items: center;
                    flex-flow: row wrap;
                    justify-content: center;
                    height: inherit
                    ;
                    width: 100%;
                    img{
                        width: 80px;
                        height: 80px;

                    }
                    p{
                        font-family: var(--fontfamily);
                    text-align: center;
                    font-size: 12px;
                    font-weight: 400;
                    margin-bottom: 50px; 
                    width: 100%;
                    }
                }
                }
              }
          
              .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
        }

